{% extends 'base.html' %}
{% block content %}
<div class="center-container text-align-center">
    <p class="display-5 primary-text-color mb-4 text-center">Reset password</p>
    <p class="font-size-4 mb-3">Enter your email to send a link to reset your password.</p>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message}}
          {% for key,value in form.errors.items %}
          {{value}}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
    
    <form method="POST">
      <input id="id_email" type="email" name="email" autocomplete="email" maxlength="254" class="form-control" required placeholder="Email">
      {% csrf_token %}
      <button type="submit" class="primary-button width-100 mt-1">Reset password </button>
    </form>
    <p class="font-size-2"><a href="{% url 'users:register' %}">Don't have an account? Register</a></p>
</div>
  {% endblock content %}