{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="center-container-nogird text-start">
    <p class="display-5 justify-content-center primary-text-color text-center mb-4">Change password</p>
    <p class="font-size-4 mb-3">Enter your email to send a link to reset your password.</p>

    {% if form.errors %}
      {% for key,value in form.errors.items %}
        <div class="alert alert-danger" role="alert">
          {{value}}
        </div>
      {% endfor %}
    {% endif %}
    
  <form method="POST">
    {% csrf_token %}
    <p><label for="id_new_password1">New password:</label>
      <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"></p>

    <p><label for="id_new_password2">New password confirmation:</label>
      <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></p>

    <button type="submit" class="primary-button width-100 mt-1">Change password </button>
  </form>
</div>
  {% endblock content %}